# Series

In [33]:
import pandas as pd

# Series

In [ ]:
data = [101, 102, 107, 150, 165, 230]

## can also without specifying index (default index will be 0, 1, 2 ...)
series = pd.Series(data, index=["a", "b", "c", "d", "e", "f"])

print(series)

a    101
b    102
c    107
d    150
e    165
f    230
dtype: int64

## Loc

In [46]:
print(series.loc["c"])

107

In [47]:
print(series.iloc[1])

102

## Filtering

In [48]:
print(series[series >= 150])

d    150
e    165
f    230
dtype: int64

In [49]:
shopping= {"bag": 230, "top":56, "lipgloss":10, "lipliner": 70 }

In [50]:
series_shop= pd.Series(shopping)

In [51]:
print(series_shop)

bag         230
top          56
lipgloss     10
lipliner     70
dtype: int64

In [52]:
print(series_shop.loc["top"])

56

# DataFrames

In [53]:
dataF= {
    "Name":["Joe", "Bob", "Harry", "Spencer", "Charlie"],
    "Age":[23,56,78,21,54],
    "Amount":[456, 675, 100, 546, 300]
}

df= pd.DataFrame(dataF)

print(df)

      Name  Age  Amount
0      Joe   23     456
1      Bob   56     675
2    Harry   78     100
3  Spencer   21     546
4  Charlie   54     300

In [55]:
dataFwithCustomIndex= {
    "Name":["Joe", "Bob", "Harry", "Spencer", "Charlie"],
    "Age":[23,56,78,21,54],
    "Amount":[456, 675, 100, 546, 300]
}

dfI= pd.DataFrame(dataFwithCustomIndex, index=["Person01", "Person02", "Person03", "Person04", "Person05"])

print(dfI)

             Name  Age  Amount
Person01      Joe   23     456
Person02      Bob   56     675
Person03    Harry   78     100
Person04  Spencer   21     546
Person05  Charlie   54     300

In [57]:
print(dfI.loc["Person01"])

Name      Joe
Age        23
Amount    456
Name: Person01, dtype: object

## Add a New Column

In [58]:
df["IsBillPaid"]=["Yes", "No", "Yes", "No", "No"]

In [59]:
print(df)

      Name  Age  Amount IsBillPaid
0      Joe   23     456        Yes
1      Bob   56     675         No
2    Harry   78     100        Yes
3  Spencer   21     546         No
4  Charlie   54     300         No

## Add a new Row

In [62]:
new_row = pd.DataFrame([
    {"Name": "Kash", "Age": 20, "Amount":450, "IsBillPaid":"Yes"},
    {"Name": "Steele", "Age": 56, "Amount":700, "IsBillPaid":"Yes"},
    {"Name": "Yonge", "Age": 76, "Amount":500, "IsBillPaid":"No"},
    ]) 

df= pd.concat([df, new_row], ignore_index=True)

print(df)

       Name  Age  Amount IsBillPaid
0       Joe   23     456        Yes
1       Bob   56     675         No
2     Harry   78     100        Yes
3   Spencer   21     546         No
4   Charlie   54     300         No
5      Kash   20     450        Yes
6    Steele   56     700        Yes
7     Yonge   76     500         No
8      Kash   20     450        Yes
9    Steele   56     700        Yes
10    Yonge   76     500         No